#pokemon-image{
    margin-top: 30px;
}

#pokemon-name{
    font-size: xx-large;
    color: black;
    letter-spacing: 5px;
    margin-top: 15px;
}

#pokemon-height
{
    letter-spacing: 5px;
    font-size: x-large;
    color: black;
    margin-top: 15px;
}


#pokemon-wight{
    
    letter-spacing: 5px;
    font-size: x-large;
    color: black;
    margin-top: 15px;
}

